*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;     
    border: border-box;
}
.navbar{
    height:60px;
    background-color: #0F1111;
    color:white;
    display:flex;
    align-items:center;   /*centering along vertical axis*/
    justify-content: space-evenly;
}

/*box1*/
.nav-logo{
    height:50px;
    width:100px;
}

.logo{
    background-image:url("./images/amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100%;
    
}
.border:hover{
    border:1.5px solid white;
}
/*box 2*/
#deliver-to{
    color:#CCCCCC;
    font-size: 12px;
    margin-left:10px;
}

#location{
    color:#FFFFFF;
    font-size:14px;
}
.add-icon{
    display:flex;    /*to make icon and india in same line*/
    align-items:center;  /*to center along vertical axis*/
}


#location{
    margin-left: 3px;
}

.nav-search{
    display: flex;
    justify-content: space space-evenly;
    background-color: orange;
    height:40px;
    width:620px;
    border-radius:6px;

}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    border-top-left-radius: 6px;
    border-bottom-left-radius:6px;
    background-color:#FFFFFF;
    width:50px;
    text-align: center;      /*to align all horizontally at centre*/
    border:none;   /*to remove visible border*/
}
.search-input{
    width: 100%;  /*occupis all khali area in flex container*/
    font-size: 1rem;   /*rem helps in creating dynamic/responsive website*/
    border:none;
    background-color: white;
    
}
/*magnifying glass*/
.search-icon{
    width:45px;
    display:flex;
    align-items: center; /*to center along vertical axis*/
    justify-content: center;
    font-size:1.2rem;
    
    
}
#icon{
    color: black;
}
/*camera_lens*/
#camera_lens{
    color:black;
    width:45px;
    display: flex;
    align-items: center; /*to center along vertical axis*/
    justify-content: center;
    background-color: #FFFFFF;
}
/*box 5 and 6*/
#welcoming{
    font-size: 0.7rem;
    color:#FFFFFF;
}

#nav-sec{
    font-size: 0.85rem;
    color:#FFFFFF;
    font-weight: 700;
}
#cart-icon{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}
#cart{
    font-size: 0.85rem;
    font-weight: 700;
    margin-left: 1.5px;
    margin-top: 10px;
}

.panel{
    background-color: #232F3E;
    height:40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font
}

.panel-All{
    color: #FFFFFF;
    width:60px;
    font-size:0.95rem;
}

.panel-options{
    color: #FFFFFF;
    width:90%;
    font-size: 0.95rem;

}

.panel-options a{    /*anchor tags of panel*/
    display: inline;
    margin-right: 15px;
}
.hero-section{
    background-image: url("./images/shop w alexa.jpg"); /*img wont be seen unless you set height or width*/
    height:400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:end;

    
    
    
}
.hero-msg{
    background-color: white;
    color: #0F1111;
    font-weight: 550;
    font-size: 0.85rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}

/*shop-section*/
.box{
    height:420px;
    width:335px;
    background-color: #FFFFFF;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.shop-section1{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.shop-section2{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}

.pc_image{
    background-image: url("./images/pcimg.jpg");
    background-size: cover;
    height: 275px;
    
}
.bus_sol{
    background-image: url("./images/creating.jpg");
    background-size: cover;
    height:260px;
}
.under699{
    background-image: url('./images/under99.jpg');
    background-size: cover;
    height:235px;
}


.box_content{
    margin-left: 15px;
    margin-right:15px;
    
    
}


.heading{
    margin-top: 1.7rem;
    margin-bottom: 1.3rem;
}
.footer_box{
    margin-top: 1.5rem;
    color:#007185;
    margin-bottom:15px;
    font-size: 0.9rem;
}

.image_type1{
    background-size: cover;
    height:275px;
}

.image_typev{
    background-size: cover;
    height:250px;
}
.foot_panel1{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    height:50px;
    color: white;
    background-color: #37475a;
    font-weight: 700;
    
    
}
.Personalized_options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
    background-color: #e2e7e6;
    border:none;
    border-top: 2px rgb(128,128,128,0.2) solid ;
    padding-top:22px; 
    padding-bottom:10px; 
}
.signin{
    background-color: ;
    height: 28px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: black;
    font-weight: 700;
    background-color:rgb(255, 188, 65);
    border: none;
    border-radius: 5px;
}
.newc{
    font-size:11px;
}
.reccom{
    font-size: 13px;
}
.signin a{
    color: #007185;
}
.foot_panel2 p{
    font-size: 16px;
    color: white;
    font-weight: 750;
    margin-bottom: 0.1rem;
}
.foot_panel2{
    
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
}
.foot_panel2 a{
    
    font-size: 14px;
    color:white;
    display: block;
    margin-top: 10px;
    
    
    
}
ul{
    margin-top: 50px;
    margin-bottom: 20px; 
    
}
.ul_arr{
    display: flex;
    width:1100px;
    justify-content: space-evenly;
}
.plantsimg{
    background-image: url("./images/plants.jpg");
    height:250px;
}
.watches{
    background-image: url("./images/watches.jpg");
    background-size: cover;
    height: 260px;
}

.foot_panel3{
    background-color: #232F3E;
    height: 70px;
    
    display:flex;
    justify-content: center;
    align-items: center;
}


#amznlogo{
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width:80px
}
.foot_panel4{
    background-color: #131a22;
    height:80px;
    color:#DDDDDD;
    font-size: 12px;
    
    text-align: center;
    
    
}
.condin{    
    padding-top:1.75rem;
    display: flex;
    justify-content: center;
}
.condin a{
    margin-left: 10px;

}


.copyright{
    margin-top: 3px;
}
.mov{
    background-image: url("./images/mirzapur.jpeg");
    background-size: cover;
    height:420px;
    width:635px;
    margin-left:2.2rem;
    
}
.mov h2{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 21px;
    
}
.mov p{
    color: white;
    padding-left:20px;
    font-size: 15px;
    padding-top:5px;
    font-weight: 600;
}
#watching{
    padding-left:20px;
    color:white;
    padding-top: 325px;
    font-size:12px;
    font-weight: 600;
    
}
.shop-section3{
    background-color: #E2E7E6;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    align-items: center;
}
.prime{
    background-image: url("./images/prime.jpg");
    background-size: cover;
    height:260px;
}
.Beauty{
    background-size: cover;
    height:275px;
}
